<%-include("../layout/navbar")%>
    <%-include("../layout/chatbot")%>

        <body>
            <div>

                        <div class="chatbot-container">
                            <div class="chat-header">
                                <h2>Yatri Sakha</h2>
                            </div>
                            <div class="chat-window" id="chat-window">
                                <div class="message bot-message">Hello! How can I assist you today?</div>
                                <%if(chat[0]){%>
                                    <%const c=chat[0]%>
                                <%for(let i=0;i<c.userResponse.length;i++){%>
                                    <div class="message user-message">
                                        <%=c.userResponse[i]%>
                                    </div>
                                    <div class="message bot-message"><%=c.botResponse[i]%></div>
                                    <%}%>
                                    <%}%>

                            </div>
                            <div class="form-container">
                                <form method="post" class="form" action="/YatriSakha/<%=pnr%>" enctype="multipart/form-data">
                                    <input type="text" placeholder="Type your message here..." name="userResponse"
                                        required>
                                    <input type="file" name="image" required>
                                    <button>Send</button>
                                </form>
                            </div>
                        </div>



                                
        </body>

        </html>